<div id="MenuList" class="tabcontent">
  <div class="container" style="margin-top: -95px">
    <div class="row card-group">
      <div class="col-lg-3" *ngFor="let item of menuList; let i = index">
        <div class="card mt-1 mb-1">
          <img
            class="card-img-top dishImage"
            src="{{ menuList[i].image }}"
            alt="Card image"
          />
          <div class="card-body">
            <p class="dishNamePrice">
              {{ menuList[i].name }} : {{ menuList[i].price }} Inr
            </p>
            <button class="btn btn-primary" (click)="sendToCart()">Add</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
